<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.benkesmith.skale_demo"
        version   = "1.0.0">

	<name>Skale DEMO</name>
	<description>
		Application by Benke Smith.
	</description>
	<author email="benke.smith@gmail.com" href="http://benkesmith.com">
		Benke Smith
	</author>

    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="false" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="true" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="true" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="false" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
	<preference name="StatusBarOverlaysWebView"   value="false" />

    <!-- Plugins -->

    <!-- Core plugins -->
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />

    <plugin name="cordova-plugin-ble-central">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Scan for Bluetooth Low Energy Peripherals" />
    </plugin>

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png" width="200" height="320" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" width="320" height="480" gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png" width="480" height="800" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" width="720" height="1280" gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/android/screen-ldpi-landscape.png" width="320" height="200" gap:platform="android" gap:qualifier="land-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-landscape.png" width="480" height="320" gap:platform="android" gap:qualifier="land-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-landscape.png" width="800" height="480" gap:platform="android" gap:qualifier="land-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-landscape.png" width="1280" height="720" gap:platform="android" gap:qualifier="land-xhdpi" />

	<gap:splash height="1136" gap:platform="ios" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
	<gap:splash height="1334" gap:platform="ios" src="res/screen/ios/Default-667h.png" width="750" />
	<gap:splash height="2208" gap:platform="ios" src="res/screen/ios/Default-736h.png" width="1242" />
	<gap:splash height="1242" gap:platform="ios" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />
	<gap:splash height="1536" gap:platform="ios" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
	<gap:splash height="768" gap:platform="ios" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
	<gap:splash height="2048" gap:platform="ios" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
	<gap:splash height="1024" gap:platform="ios" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
	<gap:splash height="960" gap:platform="ios" src="res/screen/ios/Default@2x~iphone.png" width="640" />
	<gap:splash height="480" gap:platform="ios" src="res/screen/ios/Default~iphone.png" width="320" />
	<gap:splash height="320" gap:platform="ios" src="res/screen/ios/Default-Landscape~iphone.png" width="480" />
	<gap:splash height="640" gap:platform="ios" src="res/screen/ios/Default-Landscape@2x~iphone.png" width="960" />


	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true"> <false/> </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true"> <true/> </gap:config-file>

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <access origin="*"/>

    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>